.navbar {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 80px;
    background-color: rgb(33, 32, 32);
    background-image: linear-gradient(to right, rgb(63, 63, 63), rgb(33, 32, 32));

    > .container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 70%;
        height: 100%;
        margin: 0 auto;
        padding: 0 20px;

        > .Logo {
            align-self: center;
            color: rgba(255, 255, 255, 0.9);
            font-size: 26px;
            letter-spacing: 2px;
    
            > span {
                color: rgb(255, 213, 0);
            }
        }
    }

    // Button 'Login' oraz 'Shopping Cart';
    &-buttons {
        // position: absolute;
        // right: 0;
        display: flex;
        justify-content: space-between;
        align-items: center;
        align-self: center;
    }
}