.product {
    &-list {
        &.container {
            flex-basis: 100%;
            display: flex;
            flex-wrap: wrap;

            > .no-products {
                margin: 0 auto;
                background-color: white;
                padding: 20px 100px;
            }
        }
    }

    &-container {
        flex-basis: calc(33.33% - 20px);
        min-width: 250px;
        min-height: 370px;
        margin: 0 10px 20px 10px;
        background-color: white;
        border: 1.5px solid black;
        padding: 30px 10px;
    }

    &-image {
        vertical-align: middle;
        height: clamp(130px, 10vw, 150px);

        &-container {
            height: 150px;
        }
    }

    &-info {
        > * {
            display: block;
            margin: 10px auto;
        }

        > h3 {
            width: 80%;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
        }

        > strong {
            width: 50%;
            background-color: black;
            color: white;
        }
    }
}