.product {
    &-list {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        width: 70%;
        text-align: center;
        margin: 80px auto 0 auto;
        padding: 30px 20px;
        
        &-container {
            flex-basis: 100%;
            display: flex;
            flex-wrap: wrap;
            margin: 20px 0;

        }
        
        > h2 {
            flex-basis: 100%;
            color: rgba(0, 0, 0, 0.7);
        }
    }

    &-container {
        flex-basis: 31.55%;
        min-width: 300px;
        min-height: 420px;
        margin: 20px 10px;
        box-shadow: 0px 0px 4px gray;
        padding: 30px 10px;
    }

    &-image {
        vertical-align: middle;
        height: 100%;

        &-container {
            height: 150px;
        }
    }

    &-info {
        > * {
            display: block;
            margin: 20px auto;
        }

        > h3 {
            width: 80%;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
        }
    }
}